[submodule ".config/xmonad"]
	path = .config/xmonad
	url = ../xmonad-config.git
[submodule ".config/xman"]
	path = .config/xman
	url = ../xman.git
[submodule ".config/rofi-extras"]
	path = .config/rofi-extras
	url = ../rofi-extras.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = ../.emacs.d.git
[submodule ".config/conky"]
	path = .config/conky
	url = ../conky-main.git
