[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:ndwarshuis/.emacs.d.git
[submodule ".local/share/conky"]
	path = .local/share/conky
	url = git@github.com:ndwarshuis/conky-main.git
[submodule ".config/xmonad"]
	path = .config/xmonad
	url = ssh://github/ndwarshuis/xmonad-config.git
[submodule ".config/xman"]
	path = .config/xman
	url = ssh://github/ndwarshuis/xman.git
[submodule ".config/rofi-extras"]
	path = .config/rofi-extras
	url = ssh://github/ndwarshuis/rofi-extras.git
