[submodule ".config/xmonad"]
	path = .config/xmonad
	url = ssh://github/ndwarshuis/xmonad-config.git
[submodule ".config/xman"]
	path = .config/xman
	url = ssh://github/ndwarshuis/xman.git
[submodule ".config/rofi-extras"]
	path = .config/rofi-extras
	url = ssh://github/ndwarshuis/rofi-extras.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = ssh://github/ndwarshuis/.emacs.d.git
[submodule ".config/conky"]
	path = .config/conky
	url = ssh://github/ndwarshuis/conky-main.git
