/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/VirtualBox\ VMs

# ignore special user directories
/BibTeX
/Dcache
/Dvl
/Org

# ignore all in ssh except config
/.ssh/*
!/.ssh/config

# don't need cache-like things
/.cache/*

# need to manually add pg history
!/.cache/pg/
/.thumbnails
/.synapseCache

# ignore all but a few config folders/files
/.config/*
!/.config/aws
!/.config/ccache.config
!/.config/picom.conf
!/.config/conky
!/.config/dunstrc
!/.config/emacs
!/.config/fontconfig
!/.config/git
!/.config/gtk-2.0
/.config/gtk-2.0/gtkfilechooser.ini
!/.config/gtk-3.0
!/.config/greenclip
!/.config/grip
/.config/grip/cache*
!/.config/isync
!/.config/mopidy
!/.config/networkmanager-dmenu
!/.config/nvidia
!/.config/pg
!/.config/psd/
/.config/psd/*
!/.config/psd/psd.conf
!/.config/python
!/.config/r/
/.config/r/session.Rhistory
!/.config/recoll
/.config/recoll/*
!/.config/recoll/recoll.conf
!/.config/redshift
!/.config/rofi
!/.config/rofi-extras
!/.config/systemd
# TODO add texmf here
!/.config/X11
!/.config/xmonad
!/.config/xman
!/.config/zsh
/.config/zsh/.zcompdump*

# ignore most local dirs
/.local/*
!/.local/share
/.local/share/*
!/.local/share/conky
!/.local/share/stack/
/.local/share/stack/*
!/.local/share/stack/config.yaml

### non-xdg things (all hardcoded by source)

# firefox
.mozilla

# steam
/.steam*

# zotero
/.zotero
/Zotero

# misc
/.calc_history
/.ghc
/.hashcat
/.imagej
/.java
/.masterpdfeditor
/.pki
/.sane

# hardcoded in arch install
/.tor-browser
/.viminfo
/.zoom
