[Desktop Entry]
Type=Application
Name=conky
Comment=blu numberzzz
Comment[en_US]=
Exec=conky
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
