[Desktop Entry]
Name=Seafile
Name[en_US]=Seafile
Comment=Seafile desktop sync client
Comment[en_US]=Seafile desktop sync client
TryExec=seafile-applet
Exec=seafile-applet
Icon=seafile
Type=Application
Categories=Network;FileTransfer;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=0

